*{
    box-sizing: border-box;
}

#search{
    display: block;
    margin: 20px auto;
    width:  30%;
    border: none;
    border-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px lightgray;
}

.gallery{
    display: grid;
    width: 95%;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, 190px);
    gap: 30px;
    list-style-type: none;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

