*{
    box-sizing: border-box;
}

#search{
    display: block;
    margin: 20px auto;
    width:  30%;
    border: none;
    padding: 10px;
    box-shadow: 0 0 5px lightgray;
}

.gallery{
    display: grid;
    width: 95%;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}